<div class="dashboard-posts-wrapper">
    {{#each posts}}
    <div class="dashboard-post-wrapper" data-postid="{{id}}" data-userid="{{user_id}}">
        <header class="post-header">
            <a href="javascript:void(0);" onclick="let postid = this.closest('.dashboard-post-wrapper').dataset.postid; document.location.href = `/app/community-tech-blogs/posts/${postid}/preview`;">{{title}}</a>
            <aside>
                {{date createdAt}}
            </aside>
        </header>
    </div> <!-- dashboard-post-wrapper -->
    {{/each}}
    <footer class="dashboard-btn-wrapper">
        <a href="/app/community-tech-blogs/posts/new"><button data-route="/app/community-tech-blogs/posts/new">+ New Post</button></a>
    </footer>
</div> <!-- dashboard-posts-wrapper -->