<div class="text-center text-danger">
<p>
    Post is no longer available. Someone deleted the post before you view it.
</p>

<p>
    <a href="javascript:void(0);" onclick="history.back()">Go back</a>
</p>
</div>