/* Reset CSS */

 :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Themes */

:root {
    --brown: #231010;
    --darkgray: #666666;
    --lightgray: #a7a7a7;
    --lime: #d9ead3;
}

a {
    text-decoration: none;
}


/* Mobile-first approach */

@media (min-width: 480px) {}

@media (min-width: 992px) {
    main {
        width: 70% !important;
    }
}

@media (min-width: 1200px) {
    main {
        width: 40% !important;
    }
}


/* Layout */

body {
    background-color: var(--lime);
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.site-header {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--brown);
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        ul {
            width: 100%;
            padding: 0;
            margin: 10px 0;
            li:first-child {
                color: red;
            }
            li {
                display: inline-block;
                margin-right: 60px;
                text-align: center;
                list-style-type: none;
                a {
                    color: var(--lime);
                    text-decoration: none;
                }
            }
        }
    }
    .page-title {
        display: inline-block;
        padding: 5px;
        margin: 10px 0 20px 0;
        border-radius: 10px;
        color: var(--brown);
        background-color: var(--lime);
        font-weight: 800;
        box-shadow: 5px 5px var(--lightgray);
    }
}

.form-wrapper {
    margin-top: 20px;
    .form-header {
        padding: 5px 10px;
        color: var(--lime);
        background-color: var(--brown);
        font-size: 1.25rem;
        font-weight: 600;
    }
    .form-body {
        border: 2px solid var(--brown);
        padding: 5px 10px 20px 10px;
        input {
            width: 100%;
        }
    }
    .input-group {
        margin: 10px 0;
    }
    button {
        width: 100%;
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--darkgray);
        color: white;
    }
    button:hover {
        background-color: var(--lightgray);
    }
}