/* Reset CSS */

 :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Themes */

:root {
    --brown: #231010;
    --darkgray: #666666;
    --lightgray: #a7a7a7;
    --lime: #d9ead3;
}

a {
    text-decoration: none;
}


/* Mobile-first approach */

@media (min-width: 480px) {}

@media (min-width: 992px) {
    main {
        width: 70% !important;
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    main {
        width: 60% !important;
        margin-top: 40px;
    }
}


/* Layout */

body {
    background-color: var(--lime);
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}


/** Header **/

.site-header {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--brown);
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        ul {
            width: 100%;
            padding: 0;
            margin: 10px 0;
            li:first-child {
                color: red;
            }
            li {
                display: inline-block;
                margin-right: 60px;
                text-align: center;
                list-style-type: none;
                a,
                a:visited {
                    color: var(--lime);
                    text-decoration: none;
                    transition: color 500ms;
                }
                a:active,
                a:hover {
                    color: var(--lightgray);
                }
            }
        }
    }
    .page-title {
        display: inline-block;
        padding: 5px;
        margin: 10px 0 20px 0;
        border-radius: 10px;
        color: var(--brown);
        background-color: var(--lime);
        font-weight: 800;
        box-shadow: 5px 5px var(--lightgray);
    }
}


/** Login/Signup Form **/

.form-wrapper {
    margin-top: 20px;
    .form-header {
        padding: 5px 10px;
        color: var(--lime);
        background-color: var(--brown);
        font-size: 1.25rem;
        font-weight: 600;
    }
    .form-body {
        border: 2px solid var(--brown);
        padding: 5px 10px 20px 10px;
        input {
            width: 100%;
        }
    }
    .input-group {
        margin: 10px 0;
    }
    button {
        width: 100%;
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--darkgray);
        color: white;
        transition: background-color 500ms;
    }
    button:hover {
        background-color: var(--lightgray);
    }
}


/* Dashboard */

.dashboard-posts-wrapper {
    .dashboard-post-wrapper {
        margin-top: 20px;
        .post-header {
            padding: 5px 10px;
            border-radius: 5px;
            color: var(--lime);
            background-color: var(--darkgray);
            font-size: 1rem;
            font-weight: 300;
            a,
            a:visited {
                color: var(--lime);
            }
            a:active,
            a:hover {
                color: var(--brown);
            }
            aside {
                float: right;
                font-weight: 300;
            }
        }
        .post-body {
            border: 2px solid var(--brown);
            padding: 5px 10px 5px 10px;
            input {
                width: 100%;
            }
        }
    }
    .dashboard-btn-wrapper {
        position: fixed;
        left: 0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        button {
            padding: 5px 20px;
            border-radius: 10px;
            font-size: 1.5rem;
            color: white;
            font-weight: 300;
            background-color: var(--brown);
            transition: color 500ms;
        }
        button:hover {
            color: var(--lightgray);
        }
    }
}


/* Homepage / View Post */

.posts-wrapper {
    .post-wrapper {
        margin-top: 20px;
        .post-header,
        .comment-header {
            padding: 5px 10px;
            color: var(--lime);
            background-color: var(--brown);
            font-size: 1.25rem;
            font-weight: 600;
            a,
            a:visited {
                color: var(--lime);
            }
            a:active,
            a:hover {
                color: var(--darkgray);
            }
            aside {
                transform: translateY(50%);
                float: right;
                font-size: .75rem;
                font-weight: 200;
            }
        }
        .post-body,
        .comment-body {
            border: 2px solid var(--brown);
            padding: 5px 10px 5px 10px;
            input {
                width: 100%;
            }
        }
        .comment__body__footer {
            padding: 30px;
            border: 2px solid var(--brown);
        }
        .comment-wrapper {
            margin-top: 15px;
        }
        .comment-footer {
            margin-top: 1rem;
        }
    }
}